$fontFamily: 'Source Sans Pro',sans-serif;
$smallWidth: 630px;
$headerFontColor: #ffffff;
$headerMenuFontSize: .85em;
$borderRadius: 3px;
$borderRadiusLeft: 3px 0 0 3px;
$borderRadiusRight: 0 3px 3px 0;

@mixin main-header() {
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	padding-top: 15px;
	padding-bottom: 15px;
}

@mixin button-hover() {
	color: #ffffff!important;
	border-color: #118ccf!important;
	background-color: #118ccf!important;
}