@import "app-settings";
@import "main"; 

body {
	font-size: $defaultFontSize;
	overflow-x: hidden;
	font-family: $fontFamily;

}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.radius {
	border-radius: 3px!important;
}
.radius-left {
	border-radius: 3px 0 0 3px!important;
}
.radius-right {
	border-radius: 0 3px 3px 0!important;
}

.radius-top-right {
	border-radius: 0 3px 0 0!important;
}
.radius-bottom-right {
	border-radius: 0 0 3px 0!important;
}

.margin-top-custom-10 {
	margin-top: 10px;
}
.margin-top-custom-20 {
	margin-top: 20px;
}
.margin-top-custom-30 {
	margin-top: 40px;
}
.margin-top-custom-40 {
	margin-top: 40px;
}
.margin-top-custom-50 {
	margin-top: 50px;
}

.margin-bottom-custom-10 {
	margin-bottom: 10px;
}
.margin-bottom-custom-20 {
	margin-bottom: 20px;
}
.margin-bottom-custom-30 {
	margin-bottom: 40px;
}
.margin-bottom-custom-40 {
	margin-bottom: 40px;
}
.margin-bottom-custom-50 {
	margin-bottom: 50px;
}