body {
	font-size: 16px;
	overflow-x: hidden;
}
.radius {
	border-radius: 3px!important;
}
.radius-left {
	border-radius: 3px 0 0 3px!important;
}
.radius-right {
	border-radius: 0 3px 3px 0!important;
}
.grid-margin-custom-10 {
	margin-bottom: 10px;
}
.grid-margin-custom-20 {
	margin-bottom: 20px;
}
.grid-margin-custom-30 {
	margin-bottom: 30px;
}
.grid-margin-custom-40 {
	margin-bottom: 40px;
}
.grid-margin-custom-50 {
	margin-bottom: 50px;
}